* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightpink;
}

img {
  width: 12vw;
  justify-content: center;
  padding: 0.2rem;
  padding-bottom: 0.8rem;
  border: 2px solid black;
}

.bild1 {
  position: absolute;
  top: 8rem;
  left: 15rem;
  z-index: 2.5;
  transform: rotate(-22deg);
}
.bild2 {
  position: absolute;
  top: 4rem;
  left: 14rem;
  opacity: 0.6;
  z-index: 2;
  transform: rotate(10deg);
}
.bild3 {
  position: absolute;
  left: 10rem;
  opacity: 0.8;
  z-index: 1;
  transform: rotate(15deg);
}
.bild4 {
  position: absolute;
  top: 1rem;
  left: 8rem;
  opacity: 0.7;
  z-index: 3;
  transform: rotate(5deg);
}

.bild5 {
width: 70vw;
height: 70vh;
position: relative;
border: 2px solid black;
}

